<title>Error <%= error.status %> | PhotoShare</title>
<link rel="stylesheet" href="/stylesheets/error.css" />

<div class="body-container">
  <h1 id="error-status"><%= error.status %></h1>
  <h2 id="error-message"><%= message %></h2>
</div>