#navbar-root {
  height: 3rem;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #CCC;
  margin: 0;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  position: sticky;
  top: 0;
  gap: 1rem;
}

#navbar-title {
  height: min-content;
  width: min-content;
  margin: 0;
  cursor: pointer;
}

header a {
  color: inherit;
  text-decoration: inherit;
}
